:root{
    --color-primary:#f34451;
    --color-secoondary:#f7f7fe;
    --color-primary-light:#fdeeec;
    --color-body:rgba(88,97,103,.7);
    --header-color:#586167;
    
}
p{
    color: var(--color-body);
}
.navbar-brand img{
    height:30px
}
.btn-danger{
    background-color: var(--color-primary);
}
.navbar input[type= 'search']{
    background-color:var(--color-primary-light);
}
.carousel img{
    height: 90vh;
    object-fit:cover ;
    object-position:center ;
}
.carousel-content{
    position: absolute;
    left: 0;
    top: 0;
    height:100%;
    width: 100%;
    text-align: right;
}
.carousel-content-title{
    font-weight: bold;
}
.carousel-content-title::after{
    content:"";
    display:block;
    width: 20px;
    height:2px;
    background-color: var(--color-primary);
    margin-left: auto;
}
.carousel-content h2{
    font-size:40px
    
}
.carousel-content .description span{
  background-color:var(--color-primary-light);
  padding: 2px 5px;
  border-radius: 5px;
  color: var(--color-primary);
}

.card .icon{
    width:30px;
    height: 30px;
    border-radius:50%;
    background-color:var(--color-primary-light);
}
.card .card-action{
    position:absolute;
    top:-18px;
width: 100%;
}
 .card img {
    height: 300px;
 }
.card{
    box-shadow: 10px 20px 25px rgba(0,0,0,6%);
}



.container-description{
position: relative;
}
.label-heading{
    font-size: 30px;
}
.title{
    font-weight: bold;
    color:var(--color-primary);
    font-size: 20px;
}

.title::after{
    content:"";
    display:inline-block;
    width: 50px;
    height:4px;
    background-color: var(--color-primary);
    
}

.feature-heading{
    font-weight: bold;
    font-size: 30px;
}

.left{
    padding:20px;
    
}
.right{
    padding: 20px;
}
.button{
    position:absolute;
    top:20px;
    left:50px;
}

.amount{
    font-size: 30px;
}
.button-2{
    display: inline-block;
    box-shadow: 25px 25px 25px var(--color-primary-light);
}

.icons{
    width:30px;
    height: 30px;
    border-radius:20%;
    background-color:var(--color-primary-light);
}
.hover-container{
    position:absolute;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 0;
    left: 0;
    /* border: 1px solid; */
}
.hover{
    background-color:rgba(255,255,255,50%);
    height:200px;
    width: 200px;
    transform: scale(0);
    transition: transform .5s ease;
}
.image{
    border: 1px solid;
}

.hover-container:hover .hover{ 
    transform: scale(1);
}
.h-3{
    color: var(--header-color);
}
.h-4{
    font-size: 25px;
}
.icon-2{
    position: absolute;
    top: -30px;
    left:20px;
    width:50px;
    height: 50px;
    border-radius:20%;
    background-color:var(--color-primary);
    box-shadow: 15px 15px 15px var(--color-primary-light); 
}
.card-2{
    position:absolute;
    width:100%;
    height: 70%;
    z-index: 1;
    top: 0;
    left: 0;
    
}

.card-2-body{
    
    background-color:white;
    transform: scale(0);
    transition: transform .5s ease;
}
.card-2:hover .card-2-body{
    transform: scale(1);
}
.video-section{
    background-image: url(image/video-bg.png);
    padding: 80px;
    background-position:bottom;
}
.play-youtube{
    width:50px;
    height: 50px;
    border-radius:50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;

}
.youtube{
    width: 100%;
    height: 300px;
}
.agent{
    margin-top: 100px;
}
.agent-img{
    border-radius: 5px;
    width: 100%;
    height: 421px;
    object-fit: cover;
   
}
.agent-section{
    background-image: url(image/subscribe-bg.jpg);
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.agent-section .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control{
    background-color: var(--color-primary-light);
    
}
.agent-button{
    box-shadow: 25px 25px 25px var(--color-primary-light); 
    border-radius: 10px;
}
input::placeholder{
    color: var(--color-primary);
}
@media(max-width:750px){
    .video-section{padding: 24px 16px;
    }
    .carousel-content{text-align:start;}
}